.comments {

    border-top: 1px solid #c1cad0;
    padding: 15px 10px 0;

    .detail {
        width: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;

        .user-comment {
            width: 100%;
            display: flex;
            align-items: center;

            a {
                display: flex;
                align-items: center;

                img {
                    border: 1px solid #c1cad0;
                    width: 40px;
                    height: 40px;
                    cursor: pointer;
                    border-radius: 50%;
                    margin-right: 10px;
                    object-fit: cover;
                }
            }

            .write {
                width: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;

                form {
                    width: 100%;
                    display: flex;
                    align-items: center;
                }

                .send-text {
                    width: 100%;
                    margin-right: 10px;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    background-color: #e9eaeb;
                    border-radius: 4px;
                    padding: 5px;

                    input {
                        border-radius: 4px;
                        width: 100%;
                        border: none;
                        outline: none;
                        padding: 5px 10px;
                        margin-right: 10px;
                        color: themed("text");
                        background-color: #e9eaeb;
                    }

                    .send {
                        margin: 0 10px;
                        color: #2688ca;
                        cursor: pointer;
                        font-size: 22px;
                    }
                }

                .preview {
                    display: flex;
                    align-items: center;

                    .icon-uploadimage {
                        cursor: pointer;
                        font-size: 22px;

                        &:hover {
                            color: #727375;
                        }
                    }
                }
            }
        }

        .preview-image {
            top: 100%;
            width: 100%;
            margin: 10px 20px;
            display: flex;

            .show-image {
                position: relative;
                width: 100%;
                display: flex;
                margin-left: 50px;
                align-items: center;
                justify-content: flex-start;

                img {
                    height: 100px;
                    max-width: 450px;
                    object-fit: cover;
                    border: 1px solid #909497;
                }

                .close-image {
                    position: absolute;
                    padding: 2px;
                    border-radius: 50%;
                    cursor: pointer;
                    font-size: 20px;
                    background-color: #909497;

                    &:hover {
                        background-color: #909497;
                    }
                }
            }

        }

        .allcomments {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            width: 100%;
            margin-top: 10px;

            .comment {
                display: flex;
                justify-content: flex-start;
                align-items: start;
                margin: 10px 0;
                width: 100%;


                img {
                    width: 36px;
                    height: 36px;
                    object-fit: cover;
                    border-radius: 50%;
                    border: 1px solid #a2a6aa;
                    margin-right: 10px;
                }

                .content-comment {
                    display: flex;
                    flex-direction: column;


                    .top {
                        border-radius: 10px;
                        width: 100%;
                        padding: 5px 10px;
                        background-color: #f0eeee;
                        position: relative;

                        .name {
                            font-size: 14px;
                            font-weight: 500;
                            cursor: pointer;
                            margin-bottom: 5px;
                        }

                        .text {
                            max-width: 400px;
                            margin: 0;
                            padding: 0;
                            font-size: 14px;
                            word-wrap: break-word;
                            word-break: break-word;
                        }

                        .img-comment {
                            border-radius: 20px;
                            height: 200px;
                            width: 100%;

                            img {
                                border-radius: 0px;
                                width: 100%;
                                height: 180px;
                            }
                        }

                        .feature-comment {
                            position: absolute;
                            background-color: #dcdddd;
                            top: 15px;
                            right: -30px;
                            border-radius: 50%;

                            &:hover {
                                background-color: #a0a5a5;
                                cursor: pointer;
                            }
                        }

                        .delete-comment {
                            position: absolute;
                            left: calc(100% + 40px);
                            top: 15px;
                            background-color: #dcdddd;
                            padding: 5px 10px;
                            font-size: 12px;
                            cursor: pointer;
                            color: themed("text");
                            border-radius: 3px;

                            &:hover {
                                background-color: #a0a5a5;
                            }
                        }

                        .total-like {
                            position: absolute;
                            bottom: -6px;
                            right: 0;
                            display: flex;
                            align-items: center;
                            cursor: pointer;
                            gap: 4px;

                            .icon-like {
                                font-size: 16px;
                                color: #2688ca;
                                padding: 3px;
                                background-color: #c2c5c7;
                                border-radius: 50%;

                                &:hover {
                                    background-color: #92b3d3;
                                }
                            }

                            span {
                                font-size: 14px;
                            }
                        }
                    }

                    .bottom {
                        margin-top: 5px;
                        font-size: 12px;
                        margin-left: 5px;
                        display: flex;
                        justify-content: flex-start;

                        .like-comment {
                            margin-right: 10px;
                            cursor: pointer;
                        }

                        .color-text {
                            color: #2688ca;
                        }

                        .reply-comment {
                            cursor: pointer;
                        }

                        .like-comment,
                        .reply-comment {
                            &:hover {
                                text-decoration: underline;
                            }
                        }
                    }
                }
            }

            .reply-comments {
                margin-left: 50px;
            }

            .user-reply {
                margin: 10px 0 10px 50px;
                display: flex;
                justify-content: flex-start;
                align-items: start;

                img {
                    width: 40px;
                    height: 40px;
                    border-radius: 50%;
                    cursor: pointer;
                    border: 1px solid #d5d7d8;
                    margin-right: 10px;
                    object-fit: cover;
                }

                .content-reply {
                    background-color: #f0eeee;
                    padding: 10px;
                    border-radius: 10px;
                    position: relative;
                    margin-bottom: 20px;

                    .name {
                        font-size: 14px;
                        font-weight: 500;
                    }

                    .text-reply {
                        font-size: 14px;
                        word-wrap: break-word;
                        word-break: break-word;
                    }

                    .image-reply {

                        img {
                            height: 150px;
                            width: 100%;
                            border-radius: 4px;
                        }
                    }

                    .feature-reply-comment {
                        position: absolute;
                        right: -30px;
                        top: 15px;
                        background-color: #d5d8db;
                        border-radius: 50%;

                        &:hover {
                            background-color: #acb5bd;
                        }
                    }

                    .delete-reply-comment {
                        position: absolute;
                        top: 15px;
                        right: -100px;
                        padding: 5px 10px;
                        cursor: pointer;
                        font-size: 12px;
                        background-color: #d5d8db;
                        border-radius: 5px;

                        &:hover {
                            background-color: #acb5bd;
                        }
                    }

                    .like-reply {
                        position: absolute;
                        bottom: -20px;
                        left: 0;
                        font-size: 12px;
                        font-weight: 400;
                        cursor: pointer;
                        margin-left: 5px;

                        &:hover {
                            text-decoration: underline;
                        }
                    }

                    .color-text {
                        color: #2688ca;
                    }

                    .like-reply-total {
                        position: absolute;
                        right: 0;
                        display: flex;
                        bottom: -5px;
                        align-items: center;
                        gap: 4px;


                        .like-reply-icon {
                            color: #2688ca;
                            border-radius: 50%;
                            background-color: #c2c5c7;
                            font-size: 18x;
                            padding: 4px;

                            &:hover {
                                background-color: #94b5ce;
                            }
                        }

                        span {
                            font-size: 14px;
                        }
                    }

                }
            }
        }

    }
}