.home-content {
    flex: 3;
    display: flex;
    justify-content: center;
    height: max-content;
    min-height: 100vh;
    padding-bottom: 50px;
    margin: 0 20px;

    .content {
        flex-direction: column;
        width: 650px;

        @media screen and (max-width: 1024px) {
            width: 100%;
        }
    }
}